


<body id="gal">
    {{user.graffitiname}}<br>
    {{user.firstname}}<br>
    {{user.lastname}}<br>
    {{user.email}}
    <br>
    <div id="commentpic"></div>

<div id="galgal">
<form id="form1"  action="/gallery" method="POST">
        graffiti name:<input type="text" name="graffitiname">
         <input type="submit" value="Throw it up">
    </form>
    </div>


</body>