<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<main>

    <h1 id="landingIntro">Lostlanta Studios</h1>
    <h3 id="smallIntro">Graffiti Art Classes</h3>

<div id="introPic">
<img width="300px" height="100px" src={{"https://unsplash.com/photos/QGNP-9SMG_A"}}>
</div>




















</main>