<div id="schedule">
    <h1>{{user.name}}</h1><br>
    <h1>Painting Class Appointment</h1>


    <form action="/user/{{user._id}}?_method=put" method="PUT">
        <input type="month" name="Month"><br>
        <input type="date" name="Date"><br>
        <input type="submit" value="Submit">
    </form>




    <br><br><br>


    <a href="/">Home</a><br>
    <a href="/user">User Page</a><br>
    <form action="/schedule/{{user._id}}?_method=put" method="POST">
        <input type="month" name="Month"><br>
        <input type="date" name="Date"><br>
        <input type="submit" value="Update User" class="button">

    </form>

</div>