<div id="schedule">
    <h4 id="label">{{user.username}}</h4><br>
    <h1>Painting Class Appointment</h1>


    <form action="/user/{{user._id}}?_method=put" method="POST">
        <input type="date" name="Date"><br>
        <input type="submit" value="Submit">
    </form>




    <br><br><br>


    <a href="/">Home</a><br>
    <a href="/user">User Page</a><br>
  

    </form>
    <form action="/new?_method=delete" method="DELETE">
    <input type="submit" value="Delete Appt" class="button">
    
  </form>

</div>