
<body id="schedule">
<h1>{{user.name}}</h1><br>
<h1>Painting Class Appointment</h1>
<form action="./user/{{user._id}}?_method=put" method="PUT">
<input type="month" name="Month"><br>
<input type="week"  name="Week"><br>
<input type="date"  name="Date"><br>
<input type="submit" value="Submit">
</form>

    
</body>

