<div id="graffname">
<h1>{{user.graffitiname}} added!</h1>

{{user._id}}

<form action="/gallery?_method=delete" method="DELETE">
    <input type="submit" value="Delete User" class="button">
    
  </form>
  </div>