<body id="main1">
    <h3 id="usercreate"> Create New User Profile</h3>
    <form id="form1" method="POST" action="/">
        Username:<input type="text" name="username"><br>
        Password:<input type="password" name="password"><br>
        First Name: <input type="text" name="firstname"><br>
        Last name: <input type="text" name="lastname"><br>
        email: <input type="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>

</body>